In [1]:
import urllib2, sys
from bs4 import BeautifulSoup
import pandas as pd
urltemplate2 = "http://nbasavant.com/apps/combine.php?txtLastName=&txtFirstName=&ddlPosition=&ddlSeason={year}&txtWeightGT=&txtWeightLT=&txtHeightGT=&txtHeightLT=&txtBodyFatGT=&txtBodyFatLT=&txtVerticalGT=&txtVerticalLT=&txtWingspanGT=&txtWingspanLT=#results"
combine_df = pd.DataFrame()

In [5]:
for year in range(2000, 2011):
    url = urltemplate2.format(year=year)  # get the url
    
    hdr = {'User-Agent': 'Mozilla/5.0'}
    req = urllib2.Request(url,headers=hdr)
    page = urllib2.urlopen(req)
    soup = BeautifulSoup(page)
    
    data_rows = soup.findAll('tr')[1:]  # skip the first header row
    player_data = [[td.getText() for td in data_rows[i].findAll('th')]
               for i in range(len(data_rows))]
    
    column_headers = [th.getText() for th in 
                  soup.findAll('tr')[0].findAll('th')]
    
    # Turn yearly data into a DataFrame
    year_df = pd.DataFrame(player_data, columns=column_headers)
    
    # Append to the big dataframe
    combine_df = combine_df.append(year_df, ignore_index=True)

In [6]:
combine_df.head()

,Name,Pos.,Weight,Height,Body Fat,Vertical,Wingspan,Standing Reach,T.Q. Spring,L.A.T.,Season
0,"Allen, Malik",PF-C,271.00,0.00,0.00,29.00,86.50,109.00,3.38,11.83,2000
1,"Arceneaux, Harold",SG-SF,219.00,0.00,0.00,29.00,80.50,103.00,0.00,13.80,2000
2,"Barnes, Lamont",PF-C,235.50,0.00,0.00,29.50,87.50,108.00,3.40,12.30,2000
3,"Bland, Mario",PF,287.00,0.00,0.00,31.00,84.00,103.00,3.47,13.04,2000
4,"Brezec, Primoz",C,243.00,0.00,0.00,29.50,86.00,110.00,3.55,11.53,2000

In [22]:
First=combine_df.Name.apply(lambda x: x.split(',')[1])
Last=combine_df.Name.apply(lambda x: x.split(',')[0])

In [ ]:
column_headers

In [ ]:
data_rows = soup.findAll('tr')[1:]  # skip the first header row
type(data_rows)  # now we have a list of table rows

In [ ]:
player_data = [[td.getText() for td in data_rows[i].findAll('th')]
               for i in range(len(data_rows))]
player_data

In [ ]:
df = pd.DataFrame(player_data, columns=column_headers)
df.head()  # head() lets us see the 1st 5 rows of our DataFrame by default

In [ ]:
# Finding the None rows
df[df['Pk'].isnull()]